@keyframes anim {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes anim1 {
  from {
    opacity: 0;
    bottom: 30px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes anim2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes anim3 {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
/* line 37, ../sass/main.scss */
.pre {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  background: #A3FCB5;
}
/* line 48, ../sass/main.scss */
.pre .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 40px solid white;
  width: 300px;
  height: 300px;
  border-top-color: #A3FCB5;
  animation: anim 1s linear infinite;
}

/* line 61, ../sass/main.scss */
.pre {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 67, ../sass/main.scss */
.pre.done {
  opacity: 0;
  visibility: hidden;
}

/* line 71, ../sass/main.scss */
body {
  background: #1BBC9B;
}

/* line 75, ../sass/main.scss */
.xlop1 {
  width: 250px;
  float: left;
  position: absolute;
  bottom: 0;
}

/* line 81, ../sass/main.scss */
.xlop2 {
  width: 250px;
  transform: scale(-1, 1);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 88, ../sass/main.scss */
#wrapper {
  perspective: 500px;
  width: auto;
  height: auto;
}

/* line 93, ../sass/main.scss */
.table {
  opacity: 1;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 50%;
  position: relative;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  transition: .5s all;
  top: 300px;
  left: 50%;
  transform: translate(-50%);
  color: white;
}

/* line 108, ../sass/main.scss */
.fadeInUp {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: none;
  opacity: 1;
}

/* line 114, ../sass/main.scss */
.fade {
  visibility: hidden;
  opacity: 0;
  display: none;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: none;
}

/* line 122, ../sass/main.scss */
.table1 {
  height: 1000px;
  top: 1000px;
}
